NUXT_API_URL=http://alphacinema.test/api
NUXT_URL_ADMIN=http://alphacinema.test

NUXT_ECHO_BROADCASTER=
NUXT_ECHO_HOST=
NUXT_ECHO_KEY=
NUXT_ECHO_CLUSTER=
NUXT_ECHO_PORT=
NUXT_ECHO_SCHEME=
NUXT_ECHO_TRANSPORTS=
NUXT_ECHO_LOG_LEVEL=