/* @import url('https://rsms.me/inter/inter.css'); */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Sawarabi+Mincho&family=Shippori+Mincho&display=swap');

:root {
    /* font-family: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif; */
    font-family: 'Oswald', 'Sawarabi Mincho', 'Shippori Mincho', sans-serif;
}

.fst-oswald {
    font-family: 'Oswald', sans-serif;
}

.fst-sawarabi {
    font-family: 'Sawarabi Mincho', sans-serif;
}

.fst-shippori {
    font-family: 'Shippori Mincho', sans-serif;
}

body {
    font-feature-settings: "cv03", "cv04", "cv11";
    /* font-family: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif; */
    font-family: 'Oswald', 'Sawarabi Mincho', 'Shippori Mincho', sans-serif;
}

.main-section {
    padding: 100px 0 316px;
    position: relative;
}

.al-padding-top {
    padding-top: 80px;
}

.al-padding-bottom {
    padding-bottom: 80px;
}

.line-top {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.btn {
    --bs-btn-border-radius: 4px;
    background-color: #0054a6;
}

.al-bg-light {
    background-color: #f8f8f8;
}

.al-bg-white {
    background-color: #fff;
}

.al-bg-header {
    background-color: #100f15;
}

.h-screen {
    min-height: 100vh;
}

.al-padding-header {
    padding: 8px 0px !important;
}

.al-nav-link {
    font-size: 17px !important;
    font-weight: 600 !important;
    color: #333;
}

.al-nav-link:hover {
    font-size: 17px !important;
    font-weight: 600 !important;
    color: #337ab7;
}

:where(.css-dev-only-do-not-override-1p3hq3p).ant-row {
    justify-content: center;
}

.seat-used {
    background-color: transparent !important;
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: center;
    color: #FFF;
    font-family: SFProText;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}