@import url('https://rsms.me/inter/inter.css');

:root {
    font-family: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
}

body {
    font-feature-settings: "cv03", "cv04", "cv11";
    font-family: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
}

.main-section {
    padding: 100px 0 316px;
    position: relative;
}

.al-padding-top {
    padding-top: 80px;
}

.al-padding-bottom {
    padding-bottom: 80px;
}

.line-top {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.btn {
    --bs-btn-border-radius: 4px;
    background-color: #0054a6;
}

.al-bg-light {
    background-color: #f8f8f8;
}